{% extends 'base.html' %}
{% load static %}
{% block title %} Friend {% endblock %}
{% block header %} friend Django < 3.1 {% endblock %}
{% block body %}
    {% include "form_test.html" with form=form %}
    <hr />
    <div class="container-fluid">
        <table class="table table-striped table-sm" id="my_friends">
            <thead>
                <tr>
                    <th>Nick name</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Likes</th>
                    <th>DOB</th>
                    <th>lives in</th>
                </tr>
            </thead>
            <tbody>
            {% for friend in friends %}
                <tr>
                    <td>{{friend.nick_name}}</td>
                    <td>{{friend.first_name}}</td>
                    <td>{{friend.last_name}}</td>
                    <td>{{friend.likes}}</td>
                    <td>{{friend.dob | date:"Y-m-d"}}</td>
                    <td>{{friend.lives_in}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    {% include "ajax_postform.html" %}
    {% include "ajax_check_name_exists.html" %}
{% endblock javascript %}